.body {
  display: grid;
  grid-template-columns:  1fr 1fr;
  gap: 3rem;
}

.bodyTitle {
  font-size: 2rem;
  max-width: 50rem;
  align-self: center;
  justify-self: center;
}

.bodyMain {
  font-size: 1.5rem;
  max-width: 45rem;
  align-self: center;
}

.sectionBody {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

