* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.headerContainer {
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr;
}

.headerLineItems ul{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  text-decoration: none;
  list-style: none;
}

.headerButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  
}